<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    {% block stylesheet %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Assistant:200,300,400,600,700,800|Playfair+Display:400,700" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/fh-3.1.4/r-2.2.2/datatables.min.css"/>
        <link href="{{ asset('/css/style/style.css') }}" rel="stylesheet" />
        <link href="{{ asset('/css/style/admin/admin.css') }}" rel="stylesheet" />
        <link href="{{ asset('/css/style/menu.css') }}" rel="stylesheet" />
        <link href="{{ asset('/css/style/floating-label.css') }}" rel="stylesheet" />
        {#<link href="{{ asset('fonts/font-awesome.css') }}" rel="stylesheet" />#}
    {% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Si icone -->
    {#<link rel="icon" type="image/ico" href="/images/ico-livre.ico" />#}
    <!--[if IE]><link rel="shortcut icon" type="image/x-icon" href="images/velo-marqueur.png" /><!-->

    {% block meta %}
        <!-- Création des metatags réseaux sociaux -->
        <!-- Metatags FB -->
        <meta property="og:title" content="Gestion clients MySPA" />
        <meta property="og:type" content="Gestion clients MySPA" />
        <meta property="og:url" content="crmmyspa.mclwebservices.com" />
        <meta property="og:description" content="Gestion clients MySPA" />
        <meta property="og:image" content="/css/images/images/cmanager.png" />

        <!-- Metatag Twitter -->
        <meta name="twitter:card" content="Gestion clients MySPA" />
        <meta name="twitter:tittle" content="Gestion clients MySPA" />
        <meta name="twitter:description" content="Gestion clients MySPA" />
    {% endblock %}
    <title>
        {% block title %}
            Administration
        {% endblock %}
    </title>

    {% block stylesheets %}
    {% endblock %}
</head>

<body>
{% block body %}

    <div class="menu-container">
        <div class="burger">
            <span class="line-1"></span>
            <span class="line-2"></span>
            <span class="line-3"></span>
        </div>
        <!-- NAV -->
        <div class="navigation">
            <ul class="menu-content">
                <li><a href="{{ path('admin') }}"><i class="fa fa-home"></i> <span class="nav-name">Home</span></a></li>
                <li><a href="{{ path('showMap') }}"><i class="fa fa-map"></i> <span class="nav-name">Carte</span> </a></li>
                <li><a href="#"><i class="fa fa-smile-o"></i> <span class="nav-name">Clients</span> </a></li>
                    <ul class="sub-nav-content">
                        <li><a href="{{ path('showAllShops') }}">Voir tous</a></li>
                        <li><a href="{{ path('creationShop') }}">Ajouter un magasin</a></li>
                    </ul>
            </ul>
        </div>
    </div>

    {% block container %}
        <div class=" page-title-info-admin content">
            <i class="fa fa-home fa-3x"></i> <h1>Admin</h1>
        </div>
        {% block FlashMessage %}
            {% for flash_message in app.flashes('success') %}
                <div class="alert alert-success flash-message content">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{ flash_message }}
                </div>
            {% endfor %}
        {% endblock %}
        <div class="container-fluid content">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 infos-admin-title-container">
                    <h2 class="title-admin">Alertes</h2>
                </div>
            </div>

            <!-- Recontact spa -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 sub-title-admin-container">
                    <h2 class="sub-title-admin">SPA non recontactés depuis 2 mois</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    {% for shopNoMessage in shopNoMessages  if shopNoMessage is not null%}
                        <p><a href="{{ path('showOneShop', { 'slug': shopNoMessage.slug }) }}">{{ shopNoMessage.name}}</a></p>
                    {% else %}
                        <p>Pas de clients non recontactés depuis 2 mois.</p>
                    {% endfor %}
                </div>
            </div>

            <!-- Recontact spa -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 sub-title-admin-container">
                    <h2 class="sub-title-admin">Clients sans commandes depuis 3 Mois</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    {% for shopNoCommande in shopNoCommandes if shopNoCommande is not null%}
                            <p><a href="{{ path('showOneShop', { 'slug': shopNoCommande.slug }) }}">{{ shopNoCommande.name }}</a></p>
                        {% else %}
                        <p>Pas de magasin n'ayant pas passé de commande depuis moins de 3 mois.</p>
                    {% endfor %}
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 infos-admin-title-container">
                    <h2 class="title-admin">Indicateurs</h2>
                    {#<span class="button-title-container"><a href="{{ path('admin') }}"><button type="button" class="button-title"><i class="fas fa-arrow-alt-circle-right"></i> Retour</button> </a></span>#}
                </div>
            </div>
            <!-- CHARTS -->
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div id="container-charts"></div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div id="container-charts-prospect"></div>
                </div>
                </div>
            </div>

    </div>
    {% endblock %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('js/active-menu.js') }}"></script>
    <script src='https://cloud.tinymce.com/stable/tinymce.min.js'></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/fh-3.1.4/r-2.2.2/datatables.min.js"></script>
{% endblock %}

{% block charts %}
    <script type="text/javascript">
        $(function () {
            var myChart = Highcharts.chart('container-charts', {
                chart: {
                    type: 'column',
                    width: 500,
                },
                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 500
                        },
                        chartOptions: {
                            legend: {
                                enabled: false
                            }
                        }
                    }]
                },
                title: {
                    text: 'CA TOTAL PAR DEPARTEMENT'
                },
                subtitle: {
                    // text: 'Source: <a href="http://en.wikipedia.org/wiki/List_of_cities_proper_by_population">Wikipedia</a>'
                },
                xAxis: {
                    type: 'category',
                    labels: {
                        rotation: -45,
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Assistant'
                        }
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'CA TOTAL en K€'
                    }
                },
                legend: {
                    enabled: false
                },
                tooltip: {
                    pointFormat: 'CA: <b>{point.y:.1f} K€</b>'
                },
                series: [{
                    name: 'Population',
                    data: [
                        {% for caByDepartement in caByDepartements %}
                        ['{{ caByDepartement.zip }}', {{ caByDepartement.total }}],
                        {% endfor %}
                    ],
                    dataLabels: {
                        enabled: true,
                        rotation: -90,
                        color: '#FFFFFF',
                        align: 'right',
                        y: 10, // 10 pixels down from the top
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Assistant'
                        }
                    }
                }]
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            var myChart = Highcharts.chart('container-charts-prospect', {
                chart: {
                    type: 'column',
                    width: 500
                },
                title: {
                    text: 'MAGASINS PAR DEPARTEMENT'
                },
                subtitle: {
                    // text: 'Source: <a href="http://en.wikipedia.org/wiki/List_of_cities_proper_by_population">Wikipedia</a>'
                },
                xAxis: {
                    type: 'category',
                    labels: {
                        rotation: -45,
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Assistant'
                        }
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'NB DE MAGASINS'
                    }
                },
                legend: {
                    enabled: false
                },
                tooltip: {
                    pointFormat: 'Nb de magasins: <b>{point.y}</b>'
                },
                series: [{
                    name: 'Population',
                    data: [
                        {% for shopsByDepartement in shopsByDepartements %}
                        ['{{ shopsByDepartement.zip }}', {{ shopsByDepartement.total_shop }}],
                        {% endfor %}
                    ],
                    dataLabels: {
                        enabled: true,
                        rotation: -90,
                        color: '#FFFFFF',
                        align: 'right',
                        y: 10, // 10 pixels down from the top
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Assistant'
                        }
                    }
                }]
            });
        });
    </script>
{% endblock %}
</body>

</html>