{% extends 'Back/admin.html.twig' %}

{% block title %}

{% endblock %}

{% block container %}
    <div class=" page-title-info-client content">
        <i class="fas fa-grin fa-3x"></i>
        <h2>Clients</h2>
    </div>
{% block FlashMessage %}
    {{ parent() }}
{% endblock %}
<div class="container-fluid content">
    <div class="row ">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 title-page-container">
            <h2 class="title-shop-name">Société {{ shop.name }} <a href="{{ path('editShop', { 'slug': shop.slug }) }}"><i class="fa fa-edit"></i></a></h2>
            <span class="button-title-container"><button type="button" class="button-title" data-toggle="modal" data-target="#newContact"><i class="fas fa-grin"></i> Ajouter un contact</button> </span>
        </div>
    </div>

    <div class="row contacts-container" style="margin-top: 3em">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            {{ form_start(form) }}
            <div class="floating-label">
                {{ form_widget(form.amount) }}
                <span class="highlight"></span>
                {{ form_label(form.amount) }}
            </div>
            <div class="floating-label">
                {{ form_widget(form.productType) }}
                <span class="highlight"></span>
            </div>
            <div class="floating-label">
                {{ form_widget(form.number) }}
                <span class="highlight"></span>
                {{ form_label(form.number) }}
            </div>
            <button type="submit" class="btn btn-dark">Mettre à jour</button>
            {{ form_end(form) }}
    </div>
</div>

{% endblock %}

{% block charts %}

{% endblock %}