{% extends 'Back/admin.html.twig' %}

{% block title %}

{% endblock %}

{% block container %}
    <div class=" page-title-info-client content">
        <i class="fas fa-grin fa-3x"></i>
        <h2>Commandes</h2>
    </div>
    <div class="container-fluid content">
        <div class="row ">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 title-commande-page-container">
                <h2 class="title-add-commande">Nouvelle Commande</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" id="edit-contact-form">
                {{ form_start(form) }}
                <div class="floating-label" style="margin: 2em 0;">
                    {{ form_widget(form.number) }}
                    <span class="highlight"></span>
                    {{ form_label(form.number) }}
                </div>
                <div>
                    {{ form_label(form.productType) }}
                    {{ form_widget(form.productType) }}
                </div>
                <div style="margin-bottom: 2em;">
                    <p class="commande-date">Date de la commande</p>
                    {{ form_widget(form.dateOrder) }}
                </div>
                <div class="floating-label" style="margin-bottom: 2em;">
                    {{ form_widget(form.amount) }}
                    <span class="highlight"></span>
                    {{ form_label(form.amount) }}
                </div>
                <div class="add-commande-button-container">
                        <span class="button-title-container"><button type="submit" class="add-commande"><i class="fas fa-grin"></i> Ajouter une commande</button> </span>
                </div>
                {{ form_end(form) }}
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 title-commande-page-container">
                <h2 class="title-add-commande">Récapitulatif des commandes</h2>
            </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="row">
                {% for  commande in commandes if commandes is not empty%}
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                        <p>{{ commande.productType.product }}</p>
                        <p>{{ commande.dateCommande | date('d-M-Y')}}</p>
                        <p>{{ commande.amount }}</p>
                        <p><a href="{{ path('editCommande', { 'slug': commande.shop.slug, 'id': commande.id}) }}"><i class="fa fa-edit commande-edit-icon" data-slug="{{ commande.shop.slug }}" data-id="{{ commande.id }}"></i> </a><i class="fa fa-trash"></i> </p>
                    </div>
                    {% else %}
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <p class="font-weight-bold">Pas de commande</p>
                    </div>
                {% endfor %}
            </div>
    </div>
</div>

{% endblock %}

{% block charts %}

{% endblock %}
