{% extends "Back/admin.html.twig" %}

{% block title %}
    <title>Etablissements</title>
{% endblock %}

{% block container %}
        <div class="row content">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <table id="shops" class="table">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Region</th>
                        <th>Status</th>
                        <th>Prospect / Client</th>
                        <th>Détails</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for shop in shops %}
                        <tr>
                            <td><a href="{{ path('showOneShop', { 'slug': shop.slug }) }}">{{ shop.name }}</a></td>
                            <td>{{ shop.region.region }}</td>
                            <td>{{ shop.status.status }}</td>
                            <td>{% if shop.prospect %} Prospect {% else %} Client {% endif %}</td>
                            <td><a href="{{ path('showOneShop', {'slug': shop.slug}) }}"><i class="fa fa-eye"></i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/fh-3.1.4/r-2.2.2/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#shops').DataTable();
        });
    </script>
{% endblock %}