{% extends "Back/admin.html.twig" %}

{% block title %}
    Shop : {{ shop.name }}
{% endblock %}

{% block container %}
  <div class=" page-title-info-client content">
            <i class="fas fa-grin fa-3x"></i>
            <h2>Clients</h2>
        </div>
{% block FlashMessage %}
{{ parent() }}
{% endblock %}
    <div class="container-fluid content">
            <div class="row ">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 title-page-container">
                    <h2 class="title-shop-name">Société {{ shop.name }} <a href="{{ path('editShop', { 'slug': shop.slug }) }}"><i class="fa fa-edit"></i></a></h2>
                    <span class="button-title-container"><button type="button" class="button-title" data-toggle="modal" data-target="#newContact"><i class="fas fa-grin"></i> Ajouter un contact</button> </span>
                </div>
            </div>

            <div class="row contacts-container">
            {% for contact in shop.contacts %}
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12 contact-content">
                    <div class="row no-gutters">
                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
                            <i class="fas fa-smile black"></i>
                        </div>
                        <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11 contact-details">
                            <p class="contact-name font-weight-bold">{{ contact.name }} - {{ contact.lastName }}</p>
                            <p>{{ contact.email }}</p>
                            <p>{% if contact.phoneOne is not null %}0{{ contact.phoneOne }} {% endif %}</p>
                            <p>0{{ contact.phoneMobile }}</p>
                            <p>{{ shop.address }}</p>
                            <p>{{ shop.zip }} {{ shop.city }}</p>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 icon-contact-edit-container">
                            <p><i class="fa fa-edit contact-edit-icon" data-slug="{{ contact.id }}" data-shop="{{ shop.slug }}" data-toggle="modal" data-target="#editContact"></i></p>
                            <p><i class="fa fa-trash delete-contact" data-slug="{{ contact.slug }}"></i></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 messages-title-container">
                <h2 class="title-shop-name">Observations</h2>
                <span class="button-title-container"><button type="button" class="button-title" data-toggle="modal" data-target="#newMessage"><i class="fas fa-arrow-alt-circle-right"></i> Ajouter un message</button> </span>
            </div>
        </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            {% for message in shop.messages if message is not empty%}
                <div class="row {% if loop.index is divisible by (2) %} message-container-second {% else %} message-container {% endif %}">
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">
                            <p class="text-capitalize">{{ message.dateContact | date('d.m.Y') }}</p>
                            <p class="text-capitalize font-weight-bold">{{ message.contactType.type }}</p>
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <p><i class="fa fa-edit edit-message" data-toggle="modal" data-target="#editMessage" data-id="{{ message.id }}"></i></p>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <p><i class="fa fa-trash delete-message" data-id="{{ message.id }}"></i></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-12">
                        <p>{{ message.message |raw }}</p>
                    </div>
                </div>
                    {% else %}
                <div class="row message-container">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <p>aucune note</p>
                    </div>
                </div>
            {% endfor %}
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 commandes-title-container">
                    <h2 class="title-shop-name">Commandes</h2>
                    <span class="button-title-container"><a href="{{ path('commande', { 'slug': shop.slug }) }}"><button type="button" class="button-title"><i class="fas fa-arrow-alt-circle-right"></i> Ajouter une commande</button> </a></span>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <table id="commandes" class="table">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Produits</th>
                            <th>Chiffre d'affaire</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for commande in orders %}
                            <tr>
                                <td><a href="{{ path('showOneShop', { 'slug': shop.slug }) }}">{{ commande.dateCommande | date('d-m-y') }}</a></td>
                                <td>{{ commande.productType.product }}</td>
                                <td>{{ commande.amount }} €</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <p>{% if total is not empty %}Chiffre d'affaire total généré : {{ total }} € HT{% endif %}</p>
                </div>
            </div>
        <!-- endblock -->
        </div>


    <!-- Modal -->
    <div class="modal fade" id="newMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Ajout d'un message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <button type="submit" class="modal-button"><i class="fas fa-arrow-alt-circle-right"></i> Enregistrer</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="newContact" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Ajout d'un contact</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        {{ form_start(formContact) }}
                            <div class="floating-label">
                                {{ form_widget(formContact.name) }}
                                <span class="highlight"></span>
                                {{ form_label(formContact.name) }}
                            </div>
                        <div class="floating-label">
                            {{ form_widget(formContact.lastName) }}
                            <span class="highlight"></span>
                            {{ form_label(formContact.lastName) }}
                        </div>
                        <div class="floating-label">
                            {{ form_widget(formContact.phoneOne) }}
                            <span class="highlight"></span>
                            {{ form_label(formContact.phoneOne) }}
                        </div>
                        <div class="floating-label">
                            {{ form_widget(formContact.phoneMobile) }}
                            <span class="highlight"></span>
                            {{ form_label(formContact.phoneMobile) }}
                        </div>
                        <div class="floating-label">
                            {{ form_widget(formContact.email) }}
                            <span class="highlight"></span>
                            {{ form_label(formContact.email) }}
                        </div>
                        <div>
                            {{ form_widget(formContact.role) }}
                        </div>
                        <div>
                            {{ form_widget(formContact.main) }}
                        </div>
                        <button type="submit" class="modal-button"><i class="fas fa-arrow-alt-circle-right"></i> Ajouter</button>
                        {{ form_end(formContact) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editContact" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Mise à jour du contact</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" id="edit-contact-form">

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/edit-contact.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/delete-contact.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/message-edit-form.js') }}"></script>
<script>
    tinymce.init({
        selector: '#message_creation_form_message'
    });
</script>
<script>
    $(document).ready(function () {
        $('#commandes').DataTable();
    });
</script>

{% endblock %}

{% block charts %}

{% endblock %}