{% extends "Back/admin.html.twig" %}

{% block title %}
    <title>Etablissements</title>
{% endblock %}

{% block container %}
<div class=" page-title-info-client content">
    <i class="fas fa-grin fa-3x"></i>
    <h2>Clients</h2>
</div>
<div class="container-fluid content">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 all-shops-container">
            <h2 class="title-shop-name">Clients</h2>
            <span class="button-title-container"><a href="{{ path('creationShop') }}"><button type="button" class="button-title"><i class="fas fa-arrow-alt-circle-right"></i> Ajouter un client</button> </a></span>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <table id="shops" class="table shops-table">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Region</th>
                            <th>Status</th>
                            <th>Prospect / Client</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for shop in shops %}
                            <tr>
                                <td><a href="{{ path('showOneShop', { 'slug': shop.slug }) }}">{{ shop.name }}</a></td>
                                <td>{{ shop.region.region }}</td>
                                <td>{{ shop.status.status }}</td>
                                <td>{% if shop.prospect %} Prospect {% else %} Client {% endif %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/fh-3.1.4/r-2.2.2/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
          $('#shops').DataTable();
        });
    </script>
{% endblock %}