{% extends "layout.html.twig" %}

{% block title %}
    <title>Test</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit">Ajouter</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/region-by-zip-Ajax.js') }}"></script>
{% endblock %}